<form >
    <h5 class="display-6">ajouter un livre</h5>
      
      <div class="form-group">
        <label for="i">Id</label>
        <input type="text" size="30" id="i" class="form-control"><br>
      </div>
      
      <div class="form-group">
        <label for="t">Titre</label>
        <input type="text" size="30" id="t" class="form-control"><br>
      </div>
      
      <div class="form-group">
        <label for="a">Auteur</label>
        <input type="text" size="30" id="a" class="form-control"><br>
      </div>
      
      <div class="form-group">
        <label for="p">Prix</label>
        <input type="text" size="30" id="p" class="form-control"><br>
      </div>
      
      <div class="form-group">
        <input type="button" class="btn btn-success" value="valider">
      </div>
  </form>