<div class="container">
<h1 class="display-2">My Bookstore</h1>

<br>
<br>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">titre</th>
      <th scope="col">auteur</th>
      <th scope="col">prix</th>
      <th scope="col">editer</th>
      <th scope="col">supprimer</th>
  </tr>
  </thead>
  <tbody>
      <tr scope="row" *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.titre}}</td>
      <td>{{book.auteur}}</td>
      <td>{{book.prix}}</td>
      <td><button type="button"class="btn btn-primary">editer</button></td>
      <td><button type="button"class="btn btn-danger">supprimer</button></td>
   </tr>
  </tbody>
</table>
<br>
<div style="float:right,">
  <button type="button"class="btn btn-success" (click)="afficherForm()">ajouter un livre</button>
</div>

<br><br>

<form [attr.class]="val">
  <h5 class="display-6">ajouter un livre</h5>
    
    <div class="form-group">
      <label for="i">Id</label>
      <input type="text" size="30" id="i" class="form-control"><br>
    </div>
    
    <div class="form-group">
      <label for="t">Titre</label>
      <input type="text" size="30" id="t" class="form-control"><br>
    </div>
    
    <div class="form-group">
      <label for="a">Auteur</label>
      <input type="text" size="30" id="a" class="form-control"><br>
    </div>
    
    <div class="form-group">
      <label for="p">Prix</label>
      <input type="text" size="30" id="p" class="form-control"><br>
    </div>
    
    <div class="form-group">
      <input type="button" class="btn btn-success" value="valider">
    </div>
</form>
</div>